<h3>Todos List</h3>

<!-- <p *ngIf="!todoItems().length">Loading ...</p> this is what we do in old times -->

@if(!todoItems().length){ <!-- new method -->
    <p>Loading ...</p> 
}

<form>
    <label>Filter Todos</label>
    <input 
    name="searchTerms" 
    placeholder="Search todos..."
    [(ngModel)]="searchTerms"
    />
</form>

<ul class="todos">
    @for (todo of todoItems() | filterTodos : searchTerms(); track todo.id) {
        <app-todo-item (todoToggled)="updataTodoItem($event)" [todo]="todo"/>
    }
</ul>